<div class="filter-container">
    <button (click)="filterChange.emit(filterEnum.all)" class="filter-button"
        [class.active]="isActive(filterEnum.all)">
        All
    </button>
    <button (click)="filterChange.emit(filterEnum.active)" class="filter-button"
        [class.active]="isActive(filterEnum.active)">
        Active
    </button>
    <button (click)="filterChange.emit(filterEnum.completed)" class="filter-button"
        [class.active]="isActive(filterEnum.completed)">
        Completed
    </button>
</div>