<div class="footer">

    @switch (filter()) {
        @case (filterEnum.all) {
            <span [innerHTML]="allItems()|count"></span>
        }
        @case (filterEnum.active) {
            <span [innerHTML]="remaining()|count"></span>
        }
        @case (filterEnum.completed) {
            <span [innerHTML]="completed()|count"></span>
        }
    }

    @if (hasCompleted() && filter() === filterEnum.completed) {
    <button (click)="clearCompleted()" class="clear-button">
        Clear completed
    </button>
    }
</div>